<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="weather.png"/>
    <link rel="stylesheet" href="styles.css"/>
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get to the Weather</p>
    </div>
   
    {{>footer}}
</body>
    <script >
       try{
            fetch("http://localhost:3000/weather?address=kigali").then(res =>{
             res.json().then(data =>{
                 if(data.error){
                     return console.log(data.error)
                 }
                 console.log(data.forecast);
                 console.log(data.location);
             });
        })
       }
       catch(err){
           console.log(err)
       }

    </script>

</html>