<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="weather.png"/>
    <link rel="stylesheet" href="styles.css"/>
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get to the Weather</p>
    <form>
        <input type="text" name="address" placeholder="Location">
        <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
    </div>
   
    {{>footer}}
</body>
    <script >
        const form = document.querySelector('form');
        const messageOne = document.querySelector("p#message-one")
        const messageTwo = document.querySelector("p#message-two")
        form.addEventListener('submit',(e) =>{
            e.preventDefault();
        const address = form.address.value;
        messageOne.textContent = 'Loading......';
        messageOne.textContent = '';
        fetch(`http://localhost:3000/weather?address=${address}`).then(res =>{
             res.json().then(data =>{
                 if(data.error){
                     messageOne.style.color = 'red'
                     return messageOne.textContent = (data.error);
                    
                 }
                 messageOne.textContent = data.location;
                 messageTwo.textContent = data.forecast;
             });
        })
        })
            
     

    </script>

</html>